<div id="accommodations" class="section row">
  <div id="accommodations-cover" class="section-cover"></div>
  <h1 class="text-center">Accommodations</h1>

  <div class="col-sm-6 col-sm-offset-3">
      <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto. An quas oratio conclusionemque his. Vim eu fabellas detraxit, iisque blandit repudiare ea vix, id agam aliquam cum. An enim idque vivendum est.</p>
  </div>
  <div class="col-sm-3 col-sm-offset-3 hotels text-center">
    <address>
      <strong>Holiday Inn Express</strong><br>
      385 Winter Street<br>
      Waltham, MA 02451<br>
      <abbr title="Phone">P:</abbr> (888) 465-4329
    </address>
  </div>
  <div class="col-sm-3 hotels text-center">
    <address>
      <strong>Marriott Courtyard Hotel</strong><br>
      387 Winter Street<br>
      Waltham, MA 02451<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
</div>
