<div id="accommodations" class="section row">
  <div id="accommodations-cover" class="section-cover"></div>
  <h1 class="text-center">Accommodations</h1>

  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <p>We have reserved a block of rooms for the weekend at the Boston Marriott Burlington, which is a twenty minute drive from the Codman Estate. Rooms are available for Friday and/or Saturday night.  The hotel has given us a discounted rate of $169 per night.  To reserve a room in our hotel block please call the number below and mention the Champlin/DelRossi wedding. The deadline to reserve a room at the discounted rate is September 16, 2015.</p>
    <p>More info to come on rooms at the Colonial Inn.</p>
  </div>
    <div class="col-sm-4 col-sm-offset-4 hotels text-center">
      <address>
        <strong>Concord's Colonial Inn</strong><br>
        48 Monument Square<br>
        Concord, MA 01742<br>
        <abbr title="Phone">P:</abbr> (800) 370-9200
      </address><br>
      <address>
        <strong>Boston Marriott Burlington</strong><br>
        One Burlington Mall Road<br>
        Burlington, MA 01803<br>
        <abbr title="Phone">P:</abbr> (781) 229-6565
      </address>
    </div>
</div>
