<div id="contact" class="section row">
  <div id="contact-cover" class="section-cover"></div>
  <h1 class="text-center">Contact Info</h1>
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <dl>
      <dt>Becky Champlin</dt>
      <dd>beckychamplin82@gmail.com<br>
      <abbr title="Phone">P:</abbr> (401) 219-9067</dd><br>
      <dt>Nick DelRossi</dt>
      <dd>nickwtf@gmail.com<br>
      <abbr title="Phone">P:</abbr> (774) 239-7121</dd><br>
      <dt>Our Address</dt>
      <dd>
        <address>
          270 Highland Ave, Apt 12A<br>
          Somerville, MA 02143
        </address>
      </dd>
    </dl>
  </div>
</div>
