<div id="gifts" class="section row">
  <div id="gifts-cover"class="section-cover"></div>
  <h1 class="text-center">Gifts</h1>

  <div class="col-sm-6 col-sm-offset-3">
    <p>We are so excited to have all our friends and family with us to celebrate our wedding! Just having everyone together at Codman on October 17th is more than enough for us, but if you really want to get us something, you can find some suggestions here.</p>
    <ol>
      <li><strong>Honeymoon Registry</strong>
        <p>We are very fortunate to have a lot of the "essential" home items a newly engaged couple needs. We hope you find this registry as a way to help us make our perfect honeymoon come true!</p>
        <%= link_to image_tag("tj-logo.png", alt: "Traveler's Joy"), "http://www.travelersjoy.com/beckyandnickwedding/" %>
      </li>
      <br>
      <li><strong>Retail Registry</strong>
        <p>We will be adding a link here soon to our retail registry where you can find specific items we are looking for.</p>
      </li>
    </ol>
  </div>
</div>
