<div id="gifts" class="section row">
  <div id="gifts-cover"class="section-cover"></div>
  <h1 class="text-center">Gifts</h1>

  <div class="col-sm-6 col-sm-offset-3">
    <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto. An quas oratio conclusionemque his. Vim eu fabellas detraxit, iisque blandit repudiare ea vix, id agam aliquam cum. An enim idque vivendum est.</p>
    <ol>
      <li><strong>Honeymoon</strong>
        <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto.</p>
      </li>
      <li><strong>Money</strong>
        <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto.</p>
      </li>
      <li><strong>Wedding registry</strong>
        <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto.</p>
      </li>
    </ol>
  </div>
</div>
