<div id="gifts" class="section row">
  <div id="gifts-cover"class="section-cover"></div>
  <h1 class="text-center">Gifts</h1>

  <div class="col-sm-6 col-sm-offset-3">
    <%= wedding.gift_info.html_safe %>
    <ol>
      <% wedding.gift_options.each do |option| %>
        <li><strong><%= option['title'] %></strong>
          <%= option['description'].html_safe %>
          <% if option['img'] %>
            <%= link_to image_tag(option['img']['file_name'], alt: option['img']['alt']), option['img']['url'] %>
          <% end %>
        </li><br>
      <% end %>
    </ol>
  </div>
</div>
