<div id="gifts" class="section row">
  <div id="gifts-cover"class="section-cover"></div>
  <h1 class="text-center">Gifts</h1>

  <div class="col-sm-6 col-sm-offset-3">
      <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto. An quas oratio conclusionemque his. Vim eu fabellas detraxit, iisque blandit repudiare ea vix, id agam aliquam cum. An enim idque vivendum est.</p>
  </div>
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <p></p>
    <div class="col-sm-4">
      <br>
      <%= image_tag("amazon.png", alt: "Amazon") %>
    </div>
    <div class="col-sm-4">
      <br>
      <%= image_tag("crate_barrel_logo.jpg", alt: "Crate and Barrel") %>
    </div>
    <div class="col-sm-4">
      <%= image_tag("honeymoon_gift.jpg", alt: "Honeymoon gift") %>
    </div>
  </div>
</div>
