<div id="location" class="section row">
  <div id="location-cover"></div>
  <h1 class="text-center">Location</h1>

  <div id="gmap" class="col-sm-6 col-sm-offset-1">
    <iframe
      height="300"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAT36hbpo_G0LGxnA3d6TPkT_Lv0-vMD30
          &q=34+Codman+Road+Lincoln+MA&zoom=13">
    </iframe>
  </div>
</div>

