<div id="more-info" class="section row">
  <h1 class="text-center">Wedding Info</h1>
  <div class="col-sm-2 col-sm-offset-4">
    <dl>
      <dt>Date</dt>
      <dd>October 17 2015</dd>
      <dt>Time</dt>
      <dd>TBD</dd>
    </dl>
  </div>
  <div class="col-sm-2">
    <dl>
      <dt>Ceremony and Reception</dt>
      <dd>
        <address>
          Codman Estate<br>
          34 Codman Rd<br>
          Lincoln, MA 01773
        </address>
      </dd>
    </dl>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <dl>
      <dt>Parking</dt>
      <dd>There is a large parking lot on the estate with plenty of room for everyone.</dd>
      <dt>Children</dt>
      <dd>While children are a joy, we respectfully ask that this be an Adults Only ceremony and reception, with the only exceptions being our flower girl and ring bearer.</dd>
    </dl>
  </div>
</div>
