<div id="more-info" class="section row">
  <h1 class="text-center">More Info</h1>
  <div class="col-sm-4 col-sm-offset-2">
    <dl>
      <dt>Parking</dt>
      <dd>There is plenty of parking on site.</dd>
      <dt>dkurgag</dt>
      <dd>saerg aedrg sfd dftyjh zsdth</dd>
      <dt>dkuxdf ghrgag</dt>
      <dd>saerg aedrg sfd dftyjh SEG SREG gnxf zsd zsdth</dd>
      <dt>dkur gag</dt>
      <dd>saerg zDSFG zdsg SE fgz aedrg sfd dftyjh zsdth</dd>
    </dl>
  </div>
  <div class="col-sm-4">
    <dl>
      <dt>Parking</dt>
      <dd>There is plenty of parking on site.</dd>
      <dt>dkurgag</dt>
      <dd>saerg aedrg sfd dftyjh zsdth</dd>
      <dt>dkuxdf ghrgag</dt>
      <dd>saerg aedrg sfd dftyjh SEG SREG gnxf zsd zsdth</dd>
      <dt>dkur gag</dt>
      <dd>saerg zDSFG zdsg SE fgz aedrg sfd dftyjh zsdth</dd>
    </dl>
  </div>
</div>
