<div id="our-story" class="section row">
  <h1 class="text-center">Our Story</h1>

    <div class="col-sm-4 col-sm-offset-2 bio">
      <%= image_tag("becky.jpg", class: "img-responsive img-rounded", alt: "Becky") %>
      <h3>Becky Champlin</h3>
      <p>Becky grew up in Coventry, RI, where she had a perfectly healthy interest in true crime and serial killers.  (No one was concerned about this.) Becky dreamed of living overseas in the developing world to help others and learn about the world. Becky went off to study Criminology at the University of Maryland but realized quickly that she did not actually want to work for the FBI as she previously thought. Majors were changed many times and Becky eventually transfered to the University of Rhode Island where she graduated with a degree in Psychology. Two weeks after graduation Becky joined the Peace Corps and moved to Tanzania.  Becky lived in a small village near Njombe town in the Southern Highlands of Tanzania.  Becky spoke Swahili and worked on several agriculture based projects, including her biggest project, fish ponds for the village. After Peace Corps Becky moved back to Rhode Island and eventually made her way into Product and Project Management.  In April 2012 Becky started her first job in Boston and has never looked back.  Currently Becky works in Project Management for a start up in Boston and loves every minute of it.  Becky has been vegan for eight years and has completed 16 half marathons and 2 full marathons. She loves cats, chocolate and tv shows about parasitic infections.</p>
    </div>

    <div class="col-sm-4 bio">
      <%= image_tag("nick.jpg", class: "img-responsive img-rounded", alt: "Nick") %>
      <h3>Nick DelRossi</h3>
      <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto. An quas oratio conclusionemque his. Vim eu fabellas detraxit, iisque blandit repudiare ea vix, id agam aliquam cum. An enim idque vivendum est.</p>
    </div>

    <div class="col-sm-8 col-sm-offset-2 bio">
      <%= render 'our_story_photos' %>
      <h3>Our Relationship</h3>
      <p>Nick and Becky met on the dating site OkCupid in January 2012.  Their first date was at the English Cellar Alehouse on the East Side of Providence.  Nick and Becky talked for four hours and things continued from there! For the first year of the relationship Nick was living in Worcester and Becky in Providence, so there was a lot of driving going on.  Then Becky got a job in Boston and moved into a small apartment in Newton Highlands. The place in Newton let Nick and Becky practice living together and turns out it was great! In September 2013 Nick and Becky officially moved in together, to a place in Davis Square. Throughout the time living in Worcester, Providence, Newton and Somerville Nick and Becky discovered their love of traveling together and took many trips to NYC, DC, Chicago, San Diego and Costa Rica.  In February 2015 Nick and Becky escaped the ten feet of snow in Boston and traveled to Oahu, Hawaii.  On the first morning of the vacation Nick took Becky over to a beautiful spot at Magic Island and proposed. The couple share their apartment with an adorable Maine Coon named Pippa. The relationship works well as Nick tolerates the truly bizzarre tv shows that Becky loves, and Becky tolerates the video games that Nick loves.</p>
    </div>

</div>
