<div id="our-story" class="section row">
  <h1 class="text-center">Our Story</h1>

  <div class="col-sm-10 col-sm-offset-1">
    <div class="col-sm-6 col-md-3 bio">
      <%= image_tag("becky.jpg", class: "img-responsive img-rounded", alt: "Becky") %>
      <h3>Becky Champlin</h3>
      <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto. An quas oratio conclusionemque his. Vim eu fabellas detraxit, iisque blandit repudiare ea vix, id agam aliquam cum. An enim idque vivendum est.</p>
    </div>

    <div class="col-sm-6 col-md-3 bio">
      <%= image_tag("nick.jpg", class: "img-responsive img-rounded", alt: "Nick") %>
      <h3>Nick DelRossi</h3>
      <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto. An quas oratio conclusionemque his. Vim eu fabellas detraxit, iisque blandit repudiare ea vix, id agam aliquam cum. An enim idque vivendum est.</p>
    </div>

    <div class="col-md-6 col-sm-12 bio">
      <%= render 'our_story_photos' %>
      <h3>Our Relationship</h3>
      <p>Nick and Becky met on the dating site OkCupid.  Their first date was at the English Cellar Alehouse on the East Side of Providence.  Nick and Becky talked for four hours and things continued from there! For the first year of the relationship Nick was living in Worcester and Becky in Providence, so there was a lot of driving going on.  Then Becky got a job in Boston and moved into a small apartment in Newton Highlands. The place in Newton let Nick and Becky practive living together and turns out it was great! In September 2013 Nick and Becky officially moved in together, to a place in Davis Square. Throughout the time living in Worcester, Providence, Newton and Somerville Nick and Becky discovered their love of traveling together and took many trips to NYC, DC, Chicago, San Diego and Costa Rica.  In February 2015 Nick and Becky escaped the ten feet of snow in Boston and traveled to Oahu, Hawaii.  On the first morning of the vacation Nick took Becky over to a beautiful spot at Magic Island and proposed. The couple share their apartment with an adorable Maine Coon named Pippa. The relationship works well as Nick tolerates the truly bizzarre tv shows that Becky loves, and Becky tolerates the video games that Nick loves.</p>
    </div>

  </div>
</div>
