<div id="our-story" class="section row">
  <h1 class="text-center">Our Story</h1>

  <div class="col-sm-10 col-sm-offset-1">
    <div class="col-sm-4">
      <%= image_tag("becky.jpg", class: "img-responsive img-rounded", alt: "Becky") %>
      <h3>Becky Champlin</h3>
      <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto. An quas oratio conclusionemque his. Vim eu fabellas detraxit, iisque blandit repudiare ea vix, id agam aliquam cum. An enim idque vivendum est.</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag("couple.jpg", class: "img-responsive img-rounded", alt: "Becky and Nick") %>
      <h3>Our Relationship</h3>
      <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto. An quas oratio conclusionemque his. Vim eu fabellas detraxit, iisque blandit repudiare ea vix, id agam aliquam cum. An enim idque vivendum est.</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag("nick.jpg", class: "img-responsive img-rounded", alt: "Nick") %>
      <h3>Nick DelRossi</h3>
      <p>Eum quod diam elit an, ea inermis comprehensam eum, feugiat debitis persequeris cu est. Cu mundi praesent mel, ea eos agam nostrum perfecto. An quas oratio conclusionemque his. Vim eu fabellas detraxit, iisque blandit repudiare ea vix, id agam aliquam cum. An enim idque vivendum est.</p>
    </div>
  </div>
</div>
