<div id="carousel-our-story" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-our-story" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-our-story" data-slide-to="1"></li>
    <li data-target="#carousel-our-story" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("slide_proposal.jpg") %>
      <div class="carousel-caption">
        <p>The bench in Hawaii where Nick proposed to Becky</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slide_arenal.jpg") %>
      <div class="carousel-caption">
        <p>Arenal volcano in Costa Rica</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slide_pippa.jpg") %>
      <div class="carousel-caption">
        <p>Pippa the cat in her shark bed</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control">
    <span class="glyphicon glyphicon-chevron-left" href="#"></span>
  </a>
  <a class="right carousel-control">
    <span class="glyphicon glyphicon-chevron-right" href="#"></span>
  </a>
</div> <!-- Carousel -->

<script>
$('.carousel').carousel({
  interval: false
})
$('.carousel-control.left').click(function() {
  $('#carousel-our-story').carousel('prev');
});

$('.carousel-control.right').click(function() {
  $('#carousel-our-story').carousel('next');
});
</script>
