<div id="wedding-info" class="section row">
  <div id="wedding-info-cover" class="section-cover"></div>
  <h1 class="text-center">When & Where</h1>

  <div class="col-sm-4 col-sm-push-7">
    <dl>
      <dt>Ceremony and Reception</dt>
      <dd>
        <address>
          Codman Estate<br>
          34 Codman Rd<br>
          Lincoln, MA 01773
        </address>
      </dd>
      <dt>Date</dt>
      <dd>October 17 2015</dd>
      <dt>Time</dt>
      <dd>TBD</dd>
    </dl>
  </div>
  <div id="gmap" class="col-sm-6 col-sm-pull-4 col-sm-offset-1">
    <iframe
      height="300"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAT36hbpo_G0LGxnA3d6TPkT_Lv0-vMD30
          &q=34+Codman+Road+Lincoln+MA&zoom=13">
    </iframe>
  </div>
</div>

