<div class="cover"></div>

<div id="test">some text</div>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

<script>
$('a').click(function() {
  $('html, body').animate( {
    scrollTop: $( $.attr(this, 'href') ).offset().top
  }, 500);
  return false;
});
</script>
