<div class="cover">
  <div id="welcome-text">
    <div class="col-sm-6 col-sm-offset-3">
      Please join Becky and Nick on October 24, 2015 as we celebrate our wedding in Lincoln, MA.
    </div>
  </div>
</div>

<%= render 'our_story' %>
<%= render 'location' %>
<%= render 'wedding_party' %>
<%= render 'gifts' %>


<script>
$('a').click(function() {
  $('html, body').animate( {
    scrollTop: $( $.attr(this, 'href') ).offset().top - 40
  }, 600);
  return false;
});

$(window).resize(function() {
        $('.cover').height($(window).height());
        }).resize();
</script>
