// ------------------
//   GENERAL
// ------------------

body { font-size: 1.5em; }

p { margin-bottom: 20px; }

h1 { padding: 20px 0 50px 0; }

dt { padding-bottom: 2px; }
dd { padding-bottom: 10px; }

.section { margin: 70px 0 90px 0; }


// ------------------
//   NAV
// ------------------

.navbar {
  background: rgba(0,0,0,0.8);
  border: none;
}

.navbar-inverse .navbar-brand {
  color: white;
  padding-top: 17px;
}


// ------------------
//   LANDING PAGE
// ------------------

#welcome-text {
  z-index: 100;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: 1.4em;

  h4 {
    font-size: 2.2em;
    font-family: 'Tangerine', serif;
    margin-bottom: 3px;
  }
  p {
    margin-bottom: 20px;
    font-size: .8em;
  }
}


// ------------------
//   COVER IMAGES
// ------------------

.cover {
  color: rgb(255, 255, 255);
  position: relative;
  min-height: 500px;
  background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)); /* For Firefox 3.6 to 15 */
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
    image-url("cover.jpg") no-repeat scroll 40% 0 / cover transparent;

  @media all and (max-width: 600px) {
    background:
      linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
      image-url("cover-small.jpg") no-repeat scroll 40% 0 / cover transparent;
  }
}

.section-cover {
  margin: 10px 0 50px 0;
  position: relative;
  height: 400px;

  @media all and (max-width: 600px) {
    height: 250px;
  }
}

#wedding-info-cover { background: image-url("codman-garden.jpg") no-repeat scroll 40% 0 / cover transparent; }
#wedding-party-cover { background: image-url("wedding-party.jpg") no-repeat scroll 40% 0 / cover transparent; }
#accommodations-cover { background: image-url("accommodations.jpg") no-repeat scroll 40% 0 / cover transparent; }
#gifts-cover { background: image-url("aruba.jpg") no-repeat scroll 40% 0 / cover transparent; }
#contact-cover { background: image-url("contact.jpg") no-repeat scroll 60% 0 / cover transparent; }

@media all and (max-width: 600px) {
  #wedding-info-cover { background: image-url("codman-garden-small.jpg") no-repeat scroll 40% 0 / cover transparent; }
  #wedding-party-cover { background: image-url("wedding-party-small.jpg") no-repeat scroll 40% 0 / cover transparent; }
  #accommodations-cover { background: image-url("accommodations-small.jpg") no-repeat scroll 40% 0 / cover transparent; }
  #gifts-cover { background: image-url("aruba-small.jpg") no-repeat scroll 40% 0 / cover transparent; }
  #contact-cover { background: image-url("contact-small.jpg") no-repeat scroll 60% 0 / cover transparent; }
}


// ------------------
//   OUR STORY
// ------------------

.bio { margin-bottom: 30px; }
.carousel { max-width: 1000px; }
.carousel-caption { font-size: 1.3em; }
.carousel-caption {
  left: 10%;
  right: 10%;
  bottom: 10px;

  h3 { margin-bottom: 5px; }
  p { margin-bottom: 5px; }
}
.carousel-indicators { bottom: 5px; }


// ------------------
//   WEDDING INFO
// ------------------

#gmap iframe, #gmap object, #gmap embed { width: 100%; }
#wedding-info { margin-bottom: 50px; }
#more-info {margin-top: 0; }


// ------------------
//   WEDDING PARTY
// ------------------

.party-left { padding-right: 30px; }
.party-right { padding-left: 30px; }
.popover { max-width: 500px; }
#dickie-hidden { display: none; }


// ------------------
//   HOTELS
// ------------------

.hotels { margin-top: 20px; }


// ------------------
//   GIFTS
// ------------------

#gifts p { margin-bottom: 10px; }


// ------------------
//   CONTACT
// ------------------



// ------------------
//   FOOTER
// ------------------

footer {
  color: white;
  padding-top: 30px;
  background-color: #0F1733;
  font-size: .9em;
  h4 {
    padding-top: 20px;
    font-size: 3em;
    font-family: 'Tangerine', serif;
  }
}

.zigzag {
  position: relative;
  padding: 8px 8px 32px 8px;
  background: white;
}

.zigzag:after {
  background: linear-gradient(-45deg, #0F1733 8px, transparent 0), linear-gradient(45deg, #0F1733 8px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 16px 16px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 16px;
}
