body {
  font-size: 1.5em;
}

h1 {
  padding: 20px 0 40px 0;
}

.navbar {
  background: rgba(0,0,0,0.8);
  border: none;
}

.navbar-inverse .navbar-brand {
  color: white;
  padding-top: 17px;
}

.cover {
  color: rgb(255, 255, 255);
  position: relative;
  min-height: 500px;
  background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)); /* For Firefox 3.6 to 15 */
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
    image-url("cover.jpg") no-repeat scroll 40% 0 / cover transparent;
}

#welcome-text {
  //background: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
  z-index: 100;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: 1.4em;

  h4 {
    font-size: 2.2em;
    font-family: 'Tangerine', serif;
    margin-bottom: 3px;
  }
  p {
    margin-bottom: 20px;
    font-size: .8em;
  }
}

.section {
  margin: 40px 0 60px 0;
}

.section-cover {
  margin-top: 10px;
  position: relative;
  min-height: 400px;
}

#wedding-info-cover { background: image-url("codman-garden.jpg") no-repeat scroll 40% 0 / cover transparent; }
#wedding-party-cover { background: image-url("wedding-party.jpg") no-repeat scroll 40% 0 / cover transparent; }
#gifts-cover { background: image-url("aruba.jpg") no-repeat scroll 40% 0 / cover transparent; }
#accommodations-cover { background: image-url("accommodations.jpg") no-repeat scroll 40% 0 / cover transparent; }

#gmap iframe, #gmap object, #gmap embed { width: 100%; }


.party-left {
  padding-right: 30px;
}
.party-right {
  padding-left: 30px;
}

.carousel-caption {
  font-size: 1.3em;
}

.bio {
  margin-bottom: 30px;
}

.hotels {
  margin-top: 30px;
}

.carousel-caption {
  left: 10%;
  right: 10%;
  bottom: 10px;

  p {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.carousel-indicators { bottom: 5px; }
