<div class="zigzag"></div>
<footer class="container-fluid">
  <div class="row">
  <div class="col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <h4 class="text-center">Thanks for visiting</h4>
</div>
  <div class="col-sm-4 col-xs-10 col-xs-offset-1">
    <dt>Becky Champlin<dt>
    <dd>beckychamplin82@gmail.com<dd>
    <dt>Nick DelRossi<dt>
    <dd>nickwtf@gmail.com<dd>
  </div>
  <div class="col-xs-12">
  <p class="text-center">Website by Nick DelRossi</p>
  </div>
</div>
</footer>
